node_modules/
.next/
.turbo/
dist/
build/
out/
.env
.env.local
.env.*.local
/.DS_Store
*.log
coverage/
/.vercel
/.vscode
*.pem
*.key
/.idea
*.sqlite
*.sqlite3
.pnp.*
package-lock.json
pnpm-lock.yaml
yarn-error.log
